// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$enable-rounded: true;

$primary: rgb(178, 27, 0);
$secondary: #306149;
$info: #d2101d;
$success: #0da65d;
$warning: #e4cb0d;
$danger: #f50c05;
