// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//$fa-font-path:        "../webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/regular";

@import "spin";

.p-25 {
    padding: 0.75rem;
}

.currency-icon {
    width: 24px;
    height: 24px;
    margin-right: .5rem;
}

.currency-icon-small {
    width: 18px;
    height: 18px;
}

.balance-text {
    font-size: larger;
}

.balance-box {
    min-width: 5rem;
    padding: 0.45rem;
}

.brand-medium, .brand-expanded, .brand-small {
    display: none;
}


@media screen and (min-width: 1200px) {
    .brand-expanded {
        display: block;
    }
}

@media screen and (max-width: 1199px) and (min-width: 769px) {
    .brand-medium {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .brand-small {
        display: block;
    }
}

.fixed-navbar-height {
    min-height: 48px;
}

.navbar-collapse {
    height: 42px;
}

.navbar-nav {
    height: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
}

.game-choice-card{
    width:220px;
    margin: 3px;
    border-radius:8px;
    border:3px solid rgba(0, 80, 0, 0.2);
    background-color: rgba(0,90,0,0.1);

    .game-choice-inner-card{

        //background-color: rgba(0,90,0,0.2);
        color: white;
        img {

            max-width: 100%;
            max-height: 8rem;
            width: auto !important;
            align-items: start;
        }
    }
}

.styleless-link {
    color: white;
    text-decoration: none;

    :hover {
        color: white;
    }

    :visited {
        color: white;
    }
}
