// Fonts
@import url(https://fonts.bunny.net/css?family=albert-sans:100,200,300,400,500,600,700,800,900);

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import "@fortawesome/fontawesome-free/scss/fontawesome";

@import "navigation";
@import "spin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Albert Sans', sans-serif !important;
    min-height: 100vh;
    max-height: 100vh;
}

.bg-nav-dark {
    background-color: rgb(43, 45, 48);
}

.bg-dark-red {
    background-color: rgb(46, 27, 27);
}

.bg-gray, .bg-grey {
    background-color: #1E1E1E;
}

.bg-light-gray, .bg-light-grey {
    background-color: #393939;
}

.btn-gray, .btn-grey {
    --bs-btn-color: #fff;
    --bs-btn-bg: #393939;
    --bs-btn-border-color: #393939;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1E1E1E;
    --bs-btn-hover-border-color: #1E1E1E;
    --bs-btn-focus-shadow-rgb: 79, 121, 100;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #393939;
    --bs-btn-active-border-color: rgb(165, 0, 37);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1E1E1E;
    --bs-btn-disabled-border-color: #1E1E1E;
    //background-color: rgb(68, 69, 70);
}

.btn-primary {
    background-image: linear-gradient(130deg, rgb(165, 0, 37), rgb(178, 27, 0));
}

.background {
    background-color: #242424;
}

.p-25 {
    padding: 0.75rem;
}

.no-highlight {
    &:focus {
        outline: 0 !important;
        box-shadow: none !important;
        border-color: var(--bs-border-color) !important;
    }
}

.currency-icon {
    width: 24px;
    height: 24px;
    margin-right: .25rem;
}

.currency-icon-small {
    width: 18px;
    height: 18px;
}

.balance-text {
    font-size: larger;
}

.balance-box {
    min-width: 5rem;
    padding: 0.45rem;
}

.brand-medium, .brand-expanded, .brand-small {
    display: none;
}


@media screen and (min-width: 1200px) {
    .brand-expanded {
        display: block;
    }
}

@media screen and (max-width: 1199px) and (min-width: 769px) {
    .brand-medium {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .brand-small {
        display: block;
    }
}

.fixed-navbar-height {
    min-height: 48px;
}

.navbar-collapse {
    height: 42px;
}

.navbar-nav {
    height: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
}

.game-choice-card{
    border-radius: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgb(66, 66, 66);

    .game-choice-inner-card{

        //background-color: rgba(0,90,0,0.2);
        color: white;
        img {
            max-width: 100%;
            max-height: 8rem;
            width: auto !important;
            align-items: start;
        }
    }
}

.styleless-link {
    color: white;
    text-decoration: none;

    :hover {
        color: white;
    }

    :visited {
        color: white;
    }
}


.progress{
    height: 0.25rem;
}

.user-profile-nav {
    padding: 0 !important;
}

.user-level {
    background-image: linear-gradient(130deg, rgb(165, 0, 37), rgb(178, 27, 0));
    -webkit-background-clip: text;
    font-weight: 900;
    color: transparent;
}

.user-level-progress {
    background: linear-gradient(130deg, rgb(165, 0, 37), rgb(178, 27, 0));
}

.balance-popup {
    z-index: 999;
    position: fixed;
    left: 50%;
    top: 3%;
    transform: translate(-50%, -9%);
    opacity: 0;
    border: 1px solid;
    border-radius: 4px;
    padding: 0.2rem;
}

.balance-popup-negative {
    border-color: #b60f1f;
    background-color: #DC3545;
}

.balance-popup-positive {
    border-color: #085a34;
    background-color: #198754;
}

.profile-picture {
    height: 4rem;
    width: 4rem;
}

.profile-picture-3 {
    height: 3rem;
    width: 3rem;
}

.profile-picture-2 {
    height: 2rem;
    width: 2rem;
}

a.no-style {
    text-decoration: inherit;
    color: inherit;
}

.no-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bg-dark-linear {
    background: linear-gradient(to bottom, transparent, #36393b) no-repeat;
    border: 2px solid rgb(31 34 37 / 1) !important;

    &:hover {
        background-color: #36393b;
        border-radius: 4px;
    }
}

.bg-dark-linear-horizontal {
    background: linear-gradient(to left, transparent, #36393b) no-repeat;
    border: 2px solid rgb(31 34 37 / 1) !important;

    &:hover {
        background-color: #36393b;
        border-radius: 4px;
    }
}

.profile-card {
    background-color: rgb(68, 69, 70);
    border: 2px solid rgb(94, 95, 97) !important;
    box-shadow: 0 4px 4px #0000;
}

.divider {
    border-bottom: 1px solid #198754;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.progress-bar {
    border-radius: 0.375rem;
}

.progress-bar-striped {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

@keyframes progress-bar-stripes {
    0% {
        background-position-x: -1rem;
    }
}

.vb-card {
    border-bottom: 2px solid #3e4347;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0.75rem;
    background-color: #17191f;
    cursor: pointer;

    &.selected {
        background-color: rgb(90, 89, 89);
    }

    &:hover {
        background-color: #2d3235;
    }
}

.account-heading {
    margin-bottom: 0.5rem;
    font-size: larger;
    font-weight: 600;
}

.profile-heading {
    margin-bottom: 0.5rem;
}

.create-button {

}

.card-battle {
    background-color: #2d3235;
    border-radius: 0.25rem;
    padding: 1rem;
}

.battle-player-earnings {
    display: flex;
    align-items: center;
    background-color: #202125;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.won-item-card {
    background-color: #202125;
    border-radius: 0.5rem;
    width: 100%;
    height: 6rem;
    display: flex;
    padding: 0.5rem;
}

.grayscale {
    filter: grayscale(100%);
}

.provably-fair-text {
    display: flex;
    justify-content: end;
    margin-bottom: 0.25rem;
    color: #6c757d;
    font-weight: bold;
    cursor: pointer;

    :hover {
        color: white;
    }
}

.crate-card {
    min-height: 18.75rem;
    height: 18.75rem;
    cursor: pointer;
}

.crate-select-card {
    cursor: pointer;
}

.battle-mode-select {
    --bs-body-bg: #393939;
    --bs-border-width: 1px;
    --bs-border-radius: 0.375rem;
    --bs-body-color: #dee2e6;
    --bs-border-color: #393939;
    --bs-form-select-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

    &:hover {
        cursor: pointer;
    }

    &:focus {
        border-color: var(--bs-border-color);
        box-shadow: none;
        outline: 0;
    }

    option:hover, option:checked {
        background-image: linear-gradient(130deg, rgb(165, 0, 37), rgb(178, 27, 0));
    }
}

.bot-icon {
    width: fit-content;
}

.crate-list-image-container {
    max-width: 30rem;
    overflow: hidden;
}

.bg-warning-dark {
    background-color: rgb(170, 119, 10);
}

.px-2-5 {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
}

.card-crate {
    background-color: #1E1E1E;

    &:hover {
        background-color: #393939;
    }
}

.bg-winner {
    background-color: #085a34;
}

.vertical-shadow {
    pointer-events: none;
    position: absolute;
    inset: 0px;
    z-index: 10;
    background: linear-gradient( 0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.3) 100% );
}
