// Fonts
@import url(https://fonts.bunny.net/css?family=albert-sans:100,200,300,400,500,600,700,800,900);

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import "@fortawesome/fontawesome-free/scss/fontawesome";

@import "spin";

body {
    font-family: 'Albert Sans', sans-serif !important;
    min-height: 100vh;
}

.bg-nav-dark {
    background-color: rgb(43, 45, 48);
}

.background {
    background-color: rgb(31, 34, 37);
}

.btn-gray {
    background-color: rgb(68, 69, 70);
}

.p-25 {
    padding: 0.75rem;
}

.currency-icon {
    width: 24px;
    height: 24px;
    margin-right: .25rem;
}

.currency-icon-small {
    width: 18px;
    height: 18px;
}

.balance-text {
    font-size: larger;
}

.balance-box {
    min-width: 5rem;
    padding: 0.45rem;
}

.brand-medium, .brand-expanded, .brand-small {
    display: none;
}


@media screen and (min-width: 1200px) {
    .brand-expanded {
        display: block;
    }
}

@media screen and (max-width: 1199px) and (min-width: 769px) {
    .brand-medium {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .brand-small {
        display: block;
    }
}

.fixed-navbar-height {
    min-height: 48px;
}

.navbar-collapse {
    height: 42px;
}

.navbar-nav {
    height: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
}

.game-choice-card{
    width:220px;
    margin: 3px;
    border-radius:8px;
    border:3px solid rgba(0, 80, 0, 0.2);
    background-color: rgba(0,90,0,0.1);

    .game-choice-inner-card{

        //background-color: rgba(0,90,0,0.2);
        color: white;
        img {

            max-width: 100%;
            max-height: 8rem;
            width: auto !important;
            align-items: start;
        }
    }
}

.styleless-link {
    color: white;
    text-decoration: none;

    :hover {
        color: white;
    }

    :visited {
        color: white;
    }
}


.progress{
    height: 0.25rem;
}

.user-profile-nav {
    padding: 0 !important;
}

.user-level {
    background-image: linear-gradient(to top right, #31a819, #38c20e);
    -webkit-background-clip: text;
    font-weight: 900;
    color: transparent;
}

.user-level-progress {
    background: linear-gradient(to right, #237912, #38c20e);
}

.balance-popup {
    z-index: 999;
    position: fixed;
    left: 50%;
    top: 3%;
    transform: translate(-50%, -9%);
    opacity: 0;
    border: 1px solid;
    border-radius: 4px;
    padding: 0.2rem;
}

.balance-popup-negative {
    border-color: #b60f1f;
    background-color: #DC3545;
}

.balance-popup-positive {
    border-color: #085a34;
    background-color: #198754;
}

.profile-picture {
    height: 4rem;
    width: 4rem;
}

a.no-style {
    text-decoration: inherit;
    color: inherit;
}

.no-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bg-dark-linear {
    background: linear-gradient(to bottom, transparent, #36393b) no-repeat;
    border: 2px solid rgb(31 34 37 / 1) !important;

    &:hover {
        background-color: #36393b;
        border-radius: 4px;
    }
}

.bg-dark-linear-horizontal {
    background: linear-gradient(to left, transparent, #36393b) no-repeat;
    border: 2px solid rgb(31 34 37 / 1) !important;

    &:hover {
        background-color: #36393b;
        border-radius: 4px;
    }
}

.profile-card {
    background-color: rgb(68, 69, 70);
    border: 2px solid rgb(94, 95, 97) !important;
    box-shadow: 0 4px 4px #0000;
}

.divider {
    border-bottom: 1px solid #198754;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.progress-bar {
    border-radius: 0.375rem;
}

.progress-bar-striped {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

@keyframes progress-bar-stripes {
    0% {
        background-position-x: -1rem;
    }
}

.vb-card {
    border-bottom: 2px solid #3e4347;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0.75rem;
    background-color: #17191f;
    cursor: pointer;

    &.selected {
        background-color: rgb(90, 89, 89);
    }

    &:hover {
        background-color: #2d3235;
    }
}

.account-heading {
    margin-bottom: 0.5rem;
    font-size: larger;
    font-weight: 600;
}

.profile-heading {
    margin-bottom: 0.5rem;
}
