.spin-wrapper .spin-selector {
    width:3px;
    background:grey;
    left:50%;
    height:100%;
    transform:translate(-50%,0%);
    position:absolute;
    z-index:2;
}

.spin-wrapper-horizontal {
    position:relative;
    display:flex;
    justify-content:center;
    height: 350px;
    margin:0 auto;
    overflow:hidden;

    .spin-selector {
        height:3px;
        background:grey;
        top:50%;
        left:50%;
        width:50%;
        transform:translate(-50%,0%);
        position:absolute;
        z-index:2;
    }

    .spin-wheel {
        display: flex;
        flex-direction: column;

        .spin-element {
            height:150px;
            width:150px;
            min-width: 150px;
            min-height: 150px;
            margin:3px;
            border-radius:8px;
            border:3px solid rgba(0,0,0,0.2);
            display:flex;
            align-items:center;
            justify-content:center;
            color:white;

            img {
                max-width: 100%;
                max-height: 2rem;
            }
        }
    }
}

.spin-wrapper {
    position:relative;
    display:flex;
    justify-content:center;
    width:100%;
    margin:0 auto;
    overflow:hidden;

    .spin-selector {
        width:3px;
        background:grey;
        left:50%;
        height:100%;
        transform:translate(-50%,0%);
        position:absolute;
        z-index:2;
    }

    .spin-wheel {
        .spin-element {
            height:150px;
            width:150px;
            margin:3px;
            border-radius:8px;
            border:3px solid rgba(0,0,0,0.2);
            display:flex;
            align-items:center;
            justify-content:center;
            color:white;

            img {
                max-width: 100%;
                max-height: 2rem;
            }
        }
    }
}

.crate-item {
    height:150px;
    color: white;
    background-color: rgba(0,0,0,0);
    border-top: 2px solid !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;

    .crate-item-img {
        max-width: 100px;
        min-width: 100px;
    }

    img {
        max-width: 100%;
        max-height: 2.5rem;
        width: auto !important;
        align-items: start;
    }
}

.select-background{
    background: linear-gradient(rgb(0 0 0 / 0%), #5a9fe299) no-repeat;
    border-color: #5a9fe2 !important;
}

.deluxe-background{
    background: linear-gradient(rgb(0 0 0 / 0%), #00958799) no-repeat;
    border-color: #009587 !important;
}

.premium-background{
    background: linear-gradient(rgb(0 0 0 / 0%), #d1548d99) no-repeat;
    border-color: #d1548d !important;
}

.exclusive-background{
    background: linear-gradient(rgb(0 0 0 / 0%), #f5955b99) no-repeat;
    border-color: #f5955b !important;
}

.ultra-background{
    background: linear-gradient(rgb(0 0 0 / 0%), #fad66399) no-repeat;
    border-color: #fad663 !important;
}

.fs-6-1 {
    font-size: 1rem;
}

.fs-7 {
    font-size: .75rem;
}
