.spin-wrapper .spin-selector {
    width:3px;
    background:grey;
    left:50%;
    height:100%;
    transform:translate(-50%,0%);
    position:absolute;
    z-index:2;
}

.spin-wrapper {
    position:relative;
    display:flex;
    justify-content:center;
    width:100%;
    margin:0 auto;
    overflow:hidden;

    .spin-wheel {
        .spin-element {
            height:150px;
            width:150px;
            margin:3px;
            border-radius:8px;
            border:3px solid rgba(0,0,0,0.2);
            display:flex;
            align-items:center;
            justify-content:center;
            color:white;

            img {
                max-width: 100%;
                max-height: 2rem;
            }
        }
    }
}

.crate-item{
    height:200px;
    width:220px;
    margin:3px;
    border-radius:8px;
    border:3px solid rgba(0,0,0,0.2);
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0,0,0,0);

    img {

        max-width: 100%;
        max-height: 2.5rem;
        width: auto !important;
        align-items: start;
    }

    p {

        font-size: 1rem;
        text-align: center;
    }
}
